<a href="https://colab.research.google.com/github/SwathiMenon/Machine_learning/blob/main/India's_Population_using_RegressionML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


AIM:To predict India's Population

Dataset Link:https://www.kaggle.com/code/dinashboul/linear-regression

containing Indian population data to predict India's Population

In [116]:
import pandas as pd
df=pd.read_csv("/content/drive/MyDrive/datasets/population.csv")
df

,Year,Yearly % \nChange,Yearly\nChange,Migrants (net),Median Age,Fertility Rate,Density (P/KmÂ²),Urban\nPop %,Urban Population,Country's Share of\nWorld Pop,World Population,India\nGlobal Rank,Population
0,2050,0.23,3711367,NaN,38.1,2.24,551,53.5,876613025,16.84,9735033990,1,1639176033
1,2045,0.35,5585537,-414772.0,36.6,2.24,545,50.1,811749463,17.09,9481803274,1,1620619200
2,2040,0.50,7793541,-415736.0,35.0,2.24,536,46.7,744380367,17.31,9198847240,1,1592691513
3,2035,0.66,10016298,-415732.0,33.3,2.24,523,43.5,675456367,17.48,8887524213,1,1553723810
4,2030,0.80,11726140,-440124.0,31.7,2.24,506,40.4,607341981,17.59,8548487400,1,1503642322
5,2025,0.92,13001447,-464081.0,30.0,2.24,486,37.6,542742539,17.66,8184437460,2,1445011620
6,2020,1.04,13970396,-532687.0,28.4,2.24,464,35.0,483098640,17.70,7794798739,2,1380004385
7,2019,1.02,13775474,-532687.0,27.1,2.36,460,34.5,471828295,17.71,7713468100,2,1366417754
8,2018,1.04,13965495,-532687.0,27.1,2.36,455,34.1,460779764,17.73,7631091040,2,1352642280
9,2017,1.07,14159536,-532687.0,27.1,2.36,450,33.6,449963381,17.74,7547858925,2,1338676785
10,2016,1.10,14364846,-532687.0,27.1,2.36,445,33.2,439391699,17.75,7464022049,2,1324517249
11,2015,1.20,15174247,-470015.0,26.8,2.40,441,32.7,429069459,17.75,7379797139,2,1310152403
12,2010,1.47,17334249,-531169.0,25.1,2.80,415,30.8,380744554,17.74,6956823603,2,1234281170
13,2005,1.67,18206876,-377797.0,23.8,3.14,386,29.1,334479406,17.54,6541907027,2,1147609927
14,2000,1.85,18530592,-136514.0,22.7,3.48,355,27.6,291350282,17.20,6143493823,2,1056575549
15,1995,1.99,18128958,-110590.0,21.8,3.83,324,26.5,255558824,16.78,5744212979,2,963922588
16,1990,2.17,17783558,9030.0,21.1,4.27,294,25.5,222296728,16.39,5327231061,2,873277798
17,1985,2.33,17081433,115942.0,20.6,4.68,264,24.3,190321782,16.10,4870921740,2,784360008
18,1980,2.32,15169989,222247.0,20.2,4.97,235,23.0,160941941,15.68,4458003514,2,698952844
19,1975,2.33,13582621,421208.0,19.7,5.41,210,21.3,132533810,15.27,4079480606,2,623102897
20,1970,2.15,11213294,-68569.0,19.3,5.72,187,19.7,109388950,15.00,3700437046,2,555189792
21,1965,2.07,9715129,-17078.0,19.6,5.89,168,18.7,93493844,14.95,3339583597,2,499123324
22,1960,1.91,8133417,-30805.0,20.2,5.90,152,17.9,80565723,14.85,3034949748,2,450547679
23,1955,1.72,6711079,-21140.0,20.7,5.90,138,17.6,71958495,14.78,"2,77,30,19,936",2,409880595

In [117]:
df.isna().sum()

Year                             0
Yearly % \nChange                0
Yearly\nChange                   0
Migrants (net)                   1
Median Age                       0
Fertility Rate                   0
Density (P/KmÂ²)                  0
Urban\nPop %                     0
Urban Population                 0
Country's Share of\nWorld Pop    0
World Population                 0
India\nGlobal Rank               0
Population                       0
dtype: int64

In [118]:
df.dropna(inplace=True)

In [119]:
df.dtypes

Year                               int64
Yearly % \nChange                float64
Yearly\nChange                     int64
Migrants (net)                   float64
Median Age                       float64
Fertility Rate                   float64
Density (P/KmÂ²)                    int64
Urban\nPop %                     float64
Urban Population                   int64
Country's Share of\nWorld Pop    float64
World Population                  object
India\nGlobal Rank                 int64
Population                         int64
dtype: object

In [120]:
#label Encoding
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df["World Population"]=le.fit_transform(df["World Population"])

**LINEAR REGRESSION**

In [121]:
x1=df.iloc[:,0:1]
x1

    Year
1   2045
2   2040
3   2035
4   2030
5   2025
6   2020
7   2019
8   2018
9   2017
10  2016
11  2015
12  2010
13  2005
14  2000
15  1995
16  1990
17  1985
18  1980
19  1975
20  1970
21  1965
22  1960
23  1955

In [122]:
y1=df.iloc[:,-1]
y1

1     1620619200
2     1592691513
3     1553723810
4     1503642322
5     1445011620
6     1380004385
7     1366417754
8     1352642280
9     1338676785
10    1324517249
11    1310152403
12    1234281170
13    1147609927
14    1056575549
15     963922588
16     873277798
17     784360008
18     698952844
19     623102897
20     555189792
21     499123324
22     450547679
23     409880595
Name: Population, dtype: int64

In [123]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x1, y1, test_size = 0.2, random_state = 0)

In [124]:
from sklearn.linear_model import LinearRegression
mlr=LinearRegression()
mlr.fit(X_train,y_train)
y_pred=mlr.predict(X_test)
y_pred

array([1.19174429e+09, 1.26669891e+09, 4.42198059e+08, 9.66880419e+08,
       5.17152682e+08])

In [125]:
#MULTIPLE REG PERFORMANCE_MEASURE
import numpy as np
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score
print("mean absolute error",mean_absolute_error(y_test,y_pred))
print("mean squred error",mean_squared_error(y_test,y_pred))
print("root mean squred error",np.sqrt(mean_squared_error(y_test,y_pred)))
print("r2_score",r2_score(y_test,y_pred))

mean absolute error 23065436.731896974
mean squred error 820223003729103.1
root mean squred error 28639535.675864283
r2_score 0.9936555724638739

** Multiple  Regression**

In [126]:
x=df.iloc[:,:-1]
x

,Year,Yearly % \nChange,Yearly\nChange,Migrants (net),Median Age,Fertility Rate,Density (P/KmÂ²),Urban\nPop %,Urban Population,Country's Share of\nWorld Pop,World Population,India\nGlobal Rank
1,2045,0.35,5585537,-414772.0,36.6,2.24,545,50.1,811749463,17.09,22,1
2,2040,0.50,7793541,-415736.0,35.0,2.24,536,46.7,744380367,17.31,21,1
3,2035,0.66,10016298,-415732.0,33.3,2.24,523,43.5,675456367,17.48,20,1
4,2030,0.80,11726140,-440124.0,31.7,2.24,506,40.4,607341981,17.59,19,1
5,2025,0.92,13001447,-464081.0,30.0,2.24,486,37.6,542742539,17.66,18,2
6,2020,1.04,13970396,-532687.0,28.4,2.24,464,35.0,483098640,17.70,17,2
7,2019,1.02,13775474,-532687.0,27.1,2.36,460,34.5,471828295,17.71,16,2
8,2018,1.04,13965495,-532687.0,27.1,2.36,455,34.1,460779764,17.73,15,2
9,2017,1.07,14159536,-532687.0,27.1,2.36,450,33.6,449963381,17.74,14,2
10,2016,1.10,14364846,-532687.0,27.1,2.36,445,33.2,439391699,17.75,13,2
11,2015,1.20,15174247,-470015.0,26.8,2.40,441,32.7,429069459,17.75,12,2
12,2010,1.47,17334249,-531169.0,25.1,2.80,415,30.8,380744554,17.74,11,2
13,2005,1.67,18206876,-377797.0,23.8,3.14,386,29.1,334479406,17.54,10,2
14,2000,1.85,18530592,-136514.0,22.7,3.48,355,27.6,291350282,17.20,9,2
15,1995,1.99,18128958,-110590.0,21.8,3.83,324,26.5,255558824,16.78,8,2
16,1990,2.17,17783558,9030.0,21.1,4.27,294,25.5,222296728,16.39,7,2
17,1985,2.33,17081433,115942.0,20.6,4.68,264,24.3,190321782,16.10,6,2
18,1980,2.32,15169989,222247.0,20.2,4.97,235,23.0,160941941,15.68,5,2
19,1975,2.33,13582621,421208.0,19.7,5.41,210,21.3,132533810,15.27,4,2
20,1970,2.15,11213294,-68569.0,19.3,5.72,187,19.7,109388950,15.00,3,2
21,1965,2.07,9715129,-17078.0,19.6,5.89,168,18.7,93493844,14.95,2,2
22,1960,1.91,8133417,-30805.0,20.2,5.90,152,17.9,80565723,14.85,1,2
23,1955,1.72,6711079,-21140.0,20.7,5.90,138,17.6,71958495,14.78,0,2

In [127]:
y=df.iloc[:,-1]
y

1     1620619200
2     1592691513
3     1553723810
4     1503642322
5     1445011620
6     1380004385
7     1366417754
8     1352642280
9     1338676785
10    1324517249
11    1310152403
12    1234281170
13    1147609927
14    1056575549
15     963922588
16     873277798
17     784360008
18     698952844
19     623102897
20     555189792
21     499123324
22     450547679
23     409880595
Name: Population, dtype: int64

In [128]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x,y, test_size = 0.2, random_state = 0)

In [129]:
df.dtypes

Year                               int64
Yearly % \nChange                float64
Yearly\nChange                     int64
Migrants (net)                   float64
Median Age                       float64
Fertility Rate                   float64
Density (P/KmÂ²)                    int64
Urban\nPop %                     float64
Urban Population                   int64
Country's Share of\nWorld Pop    float64
World Population                   int64
India\nGlobal Rank                 int64
Population                         int64
dtype: object

In [130]:
#MULTIPLE REG MODEL BUILDING
from sklearn.linear_model import LinearRegression
mlr=LinearRegression()
mlr.fit(X_train,y_train)
y_pred=mlr.predict(X_test)
y_pred

array([1.23328722e+09, 1.31100415e+09, 4.51717386e+08, 9.63368648e+08,
       4.99218974e+08])

In [131]:
#MULTIPLE REG PERFORMANCE_MEASURE
import numpy as np
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score
print("mean absolute error",mean_absolute_error(y_test,y_pred))
print("mean squred error",mean_squared_error(y_test,y_pred))
print("root mean squred error",np.sqrt(mean_squared_error(y_test,y_pred)))
print("r2_score",r2_score(y_test,y_pred))

mean absolute error 732999.2318155288
mean squred error 679525308694.1056
root mean squred error 824333.2509938596
r2_score 0.9999947438695813